# SAMPLE .env FILE
# RENAME THIS FILE TO ".env" AND FILL IN THE DATA
#
# .env file

ENVIRONMENT = 'development'
# ENVIRONMENT = 'production'

# Localhost port
PORT = 3000 

# -----------------------------
# Live app mysql/maria Database
DB_HOST='<hostname>'
DB_PORT=3306
DB_USER='<database_username>'
DB_PASSWORD='<database_password>'
DB_DATABASE='halfway_data'
# -----------------------------

